################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Disco/Properties
/Disco/bin/Debug
/Disco/obj/Debug/netstandard1.6
